<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>

    <h2>Posts</h2>
      <% if has_made_posts?(@user) %>
        <%= render @user.posts %>
      <% else %>
        <p><%= @user.name %> has not submitted any posts yet.</p>
      <% end %>

    <h2>Comments</h2>
      <% if has_made_comments?(@user) %>
        <%= render @user.comments %>
      <% else %>
        <p><%= @user.name %> has not submitted any comments yet.</p>
      <% end %>
  </div>
  <div class="col-md-4">
    <%= render partial: 'favorites/fave', locals: { user: @user } %>
  </div>
</div>
